.beehive-repolist{
 text-align: left;
}

.beehive-repolist li {
    height:20px;
    padding-top:5px;
    background-color: #FFF;
    border-bottom:1px solid #EEE;
}

.beehive-repolist li:nth-child(even){
    background-color: #F0F0F0;
}

.beehive-repolist td {
    line-height: 24px;
}

.beehive-repolist aui-toggle{
    position: absolute;
}