.memberContacts {
    position: relative;
}

.memberContacts:hover {
}

.memberContacts .morecontacts {
    position: absolute;
    left: 0px;
    top: -50px;
    transform: rotateX(90deg);
    opacity: 0.5;
    transition-property: transform, opacity;
    transition-duration: 300ms;
    z-index: 1;
    background-color: #FFF;

    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px 0 20px 0;
    padding: 20px;
}

.memberContacts:hover .morecontacts {
    transform: rotateZ(0deg);
    opacity: 1;
}