.aui-page-panel-main .aui-page-panel-item-sidebar {
    width: 300px;
}

.aui-page-panel-main .aui-page-panel-item-sidebar .aui-navgroup-vertical {
    background: #f5f5f5;
    border: #ccc;
    padding: 10px;
    box-sizing: content-box;

}

.aui-page-panel-main .aui-page-panel-item-sidebar .aui-navgroup-vertical .aui-nav-heading {
    padding: 0 inherit 10px;
    border: 0;
    font-size: 16px;
}

.aui-page-panel-main .subheader {
    color: #777;
    font-weight: normal;
    font-size: 18px;
}